@font-face {
  font-family: "Cera-Regular";
  src: url("~@/assets/fonts/Cera-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Museo 300";
  src: url("~@/assets/fonts/Museo 300.woff2") format("woff2");
}
